{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0f172a;
  color: white;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1150px;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  background: rgba(15, 23, 42, 0.95);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  color: #38bdf8;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.hero-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  align-items: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero span {
  color: #38bdf8;
}

.hero h3 {
  color: #94a3b8;
  margin-bottom: 15px;
}

.hero p {
  color: #cbd5e1;
  margin-bottom: 20px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn {
  background: #38bdf8;
  color: black;
  padding: 12px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
}

.secondary {
  background: transparent;
  border: 1px solid #38bdf8;
  color: white;
}

.hero-card,
.card,
.project-card,
.contact-box {
  background: #1e293b;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #334155;
}

.hero-card ul {
  margin-top: 15px;
  padding-left: 20px;
}

.section {
  padding: 90px 0;
}

.section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.2rem;
  color: #38bdf8;
}

.dark {
  background: #111827;
}

.skills-grid,
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.card,
.project-card {
  transition: 0.3s;
}

.card:hover,
.project-card:hover {
  transform: translateY(-5px);
  border-color: #38bdf8;
}

.contact-box {
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  color: #94a3b8;
}

@media(max-width:768px){
  .hero h1{
    font-size: 2.2rem;
  }

  nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
  }
}
